.symbols-table {
  width: 50%;
  margin: 0 auto;
}

.up {
  color: green;
}

.down {
  color: red;
}

.add-item {
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 50%;
  margin: 0 auto;
}

.note {
  font-size: 8pt;
  color: red;
  font-style: italic;
}

table, thead {
  border: 1px solid black;
}

td {
  border-right: 1px solid black;
}