<div class="add-item">
 <div class="note">
   Note: empty input will produce random symbol added
 </div>
  <div>
    <input type="text" ng-model="toAdd">
    <button type="button" ng-click="add()">Add Symbol</button>
  </div>
</div>
<div>
</div>
<table width="100%" align="center" class="symbols-table">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Last</th>
      <th>Change</th>
      <th>High</th>
      <th>Low</th>
    </tr>
  </thead>
  <tbody align="center">
  <tr ng-repeat="item in data track by $index">
    <td>{{ ::item.symbol }}</td>
    <td>{{ item.last }}</td>
    <td ng-class="{ up: item.change > 0, down: item.change < 0 }">
      {{ (item.change > 0 ? '+' : '') + item.change }}
    </td>
    <td>{{ item.high }}</td>
    <td>{{ item.low }}</td>
  </tr>
  </tbody>
</table>
